PORT=8080

# DB Config
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db
DATABASE_URL=postgresql://username:password@localhost:5432/db

# LLM
GROQ_API_KEY=key


# OLLAMA HOST
OLLAMA_HOST=http://host.docker.internal:11434


# JWT
JWT_SECRET=12334445yy445t4y36363